
<div class="card" style="margin-top:10px;">

  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Estadísticas Mikrotik</strong>
    </header>
  </div>
  <div class="card-body">
    <div class="panel">
      <div class="row">
        <div class="col-md-4 text-center" >
          <ui-knob value="$ctrl.valueCargaCPU" options="$ctrl.optionsCargaCPU"></ui-knob>
        </div>
        <div class="col-md-4 text-center" >
          <ui-knob value="$ctrl.valueMemoria" options="$ctrl.optionsMemoria"></ui-knob>
        </div>
        <div class="col-md-4 text-center" >
          <ui-knob value="$ctrl.valueHDD" options="$ctrl.optionsHDD"></ui-knob>
        </div>
      </div>
    </div>
  </div>
</div>