<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title">Detalle de Aparato: {{ctrl.Cablemodem.MAC}}</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
  <div class="row text-center">
    <h4 class="text-info">Datos SOFTV</h4>
    <div class="col-md-12">
      <div class="col-md-3">
        <b>Contrato:</b><br>
        {{ctrl.Cliente.Contrato}}
      </div>
      <div class="col-md-3">
        <b>Status:</b><br>
        {{ctrl.Cliente.Status}}
      </div>
      <div class="col-md-3">
        <b>Mes Pagado:</b><br>
        {{ctrl.Cliente.ultimo_mes }} {{ctrl.Cliente.ultimo_anio}}
      </div>
      <div class="col-md-3">
        <b>Nombre:</b><br>
        {{ctrl.Cliente.Nombre}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-3">
        <b>Servicio:</b><br>
        {{ctrl.Cliente.Servicio}}
      </div>
      <div class="col-md-3">
        <b>Límite Subida:</b><br>
        {{ctrl.Cliente.LimiteSubida}}
      </div>
      <div class="col-md-3">
        <b>Límite Bajada:</b><br>
        {{ctrl.Cliente.LimiteBajada}}
      </div>
    </div>
  </div>
  <!--<div class="row text-center">
    <h4 class="text-info">Datos Técnicos</h4>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <ui-knob value="ctrl.valueSNR" options="ctrl.optionsSNR"></ui-knob>
    </div>
    <div class="col-md-4">
      <ui-knob value="ctrl.valueUST" options="ctrl.optionsUST"></ui-knob>
    </div>
    <div class="col-md-4">
      <ui-knob value="ctrl.valueDST" options="ctrl.optionsDST"></ui-knob>
    </div>
  </div>-->
  <div class="row text-center">
    <h4 class="text-info">Historial de Consumo</h4>
  </div>
  <div class="row">
    <!--<chart-canvas mac="{{ctrl.Cablemodem.MAC}}" style="margin-left:15px;"></chart-canvas>-->
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Cerrar</button>
</div>