<form angular-validator-submit="$ctrl.CMTSEdita();" name="myForm" class="form-horizontal" novalidate angular-validator>
  <div class="card" style="margin-top:10px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">Edita CMTS</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Administración</a></small>

      </header>
      <div class="tools">

        <!-- <button type="button" class="btn pull-right btn-raised btn-success btn-sm" ng-click="$ctrl.Guardar()" permission permission-only="'permisosAdd'">Guardar</button> -->
        <button class="btn btn-success btn-sm" type="submit">Guardar</button>
        <button type="button" class="btn btn-raised btn-default btn-sm" ui-sref="home.administracion.cmts"> Cancelar</button>

      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
        <div class="col-md-12">
          <b>Nombre CMTS</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.Nombre" name="Nombre" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>
    
      
        <div class="col-md-12">
          <b>IP</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.IP" name="IP" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>

        <div class="col-md-12">
          <b>Comunidad</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.Comunidad" name="Comunidad" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>

        <div class="col-md-12">
          <b>Comunidad Cablemodems</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.ComunidadCablemodem" name="ComunidadCablemodems" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>

        <div class="col-md-12">
          <b>Tipo</b>
          <select class="form-control" ng-options="item as item.Nombre for item in $ctrl.Tipos track by item.IdTipo" ng-model="$ctrl.Tipo" name="rol" validate-on="dirty" required-message="'Este campo es obligatorio.'" required>
            <option value="">Selecciona</option>
          </select>
        </div>

        <div class="col-md-12">
          <b>Interface</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.Interface" name="Interface" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>

        <div class="col-md-12">
          <b>Usuario</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.Usuario" name="Usuario" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>

        <div class="col-md-12">
          <b>Password</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.Password" name="Password" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>

        <div class="col-md-12">
          <b>Enable</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.CMTS.Enable" name="Enable">
        </div>
        
        
      </div>
    </div>
  </div>

  </div>
</form>
